
:root {
    --gray-border :rgb(155, 155, 155);
    --lavend-shadow:rgb(123, 84, 179);
    --purple-shadow:rgb(83, 57, 120);
    --gray-review:rgb(216, 216, 216);
    --gray-input:rgb(149, 149, 149);
    --purple:rgb(142, 50, 198);
    --dark-blue:rgb(1, 45, 99);
    --main-white:rgb(255, 255, 255);
    --main-gray :rgb(199, 199, 199);
    --black:rgb(2, 22, 53);
    --turquse1-1 :rgb(0, 229, 230);
    --blue1-2 :rgb(0, 168, 247);
    --lavend1-3 :rgb(154, 118, 249);
    --pink1-4 :rgb(204, 94, 194);
    --neon-pink2-1 :rgb(255, 104, 180);
    --magenta2-2 :rgb(255, 69, 225);
    --lavend2-3-4 :rgb(206, 58, 255);
    --yellow3-1:rgb(255, 225, 40);
    --light-orange3-2:rgb(255, 155, 92);
    --light-tomato3-3:rgb(255, 131, 129);
    --raspberry3-4:rgb(255, 84, 137);
    --main-color: #FFFFFF;
    --second-color: #C7C7C7;
    --third-color: #DCDCDC;
    --fourth-color: #959595;
    --fifth-color: #8D8D8D;
}

.container {
    width: 1110px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: calc(28 / 24);
}

.header-nav-link {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    line-height: calc(28 / 24);
}

.header-lenguage-item-text {
    font-weight: 300;
    font-size: 24px;
    line-height: calc(1 / 24);
    color: #DCDCDC;
}

.header-lenguage-item-two-text {
    font-weight: 300;
    font-size: 24px;
    line-height: calc(1 / 24);
    color: #FFFFFF;
    margin-left: 15px;
}

.hero-title {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 144px;
    line-height: calc(192 / 144);
    color: #FFFFFF;
}

.hero-information-headline {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 72px;
    line-height: calc(96 / 72);
    color: #FFFFFF;
}

.hero-information-text {
    font-size: 18px;
    line-height: calc(21 / 18);
    color: #FFFFFF;
    width: 507px;
}

.hero-button {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: #FFFFFF;
}

.advantages-text {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 36px;
    line-height: calc(48 / 36);
    color: #FFFFFF;

}

.reviews-headline {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 48px;
    line-height: calc(64 / 48);
    color: var(--main-color);
}

.coment {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: var(--main-white);
}

.reviews-date {
    line-height: calc(16 / 14);
    color: var(--gray-review);
}

.account-name {
    line-height: calc(16 / 14);
    color: var(--main-white);
}

.time-with {
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--gray-review);
}

.registration-headline {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 48px;
    line-height: calc(64 / 48);
    color: var(--main-white);
}

.order-button {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: #FFFFFF;
}

.footer-list-item {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: #FFFFFF;
}

.footer-link {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    line-height: calc(28 / 24);
    color: #FFFFFF;
}

.footer-list-item-text {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: #FFFFFF;
}
















/* Секція HEADER */

.header {
    height: 90px;
}

.header-flex {
    width: 1440px;
    display: flex;
    justify-content: space-between; /* Всі елементи в ряду, рівномірно розподіляючи простір між ними */
    align-items: center; 
    background-color: #012D63;
}

.header-list {
    display: flex;
}

.header-lenguage {
    display: flex;
}

.header-lenguage {
    margin-right: 167px;
}


.header-list-item {
    margin-right: 29px;
}

.header-img {
    height: 60px;
    width: 100px;
    margin-left: 188px;
}

.header-nav-link {
    color: #C7C7C7; /* Колір тексту в звичайному стані */
    text-decoration: none; /* Забороняємо підкреслення */
    transition: color 0.3s ease; /* Анімація зміни кольору */
}

.header-nav-link:hover {
    color: #FFFFFF; /* Колір тексту при наведенні */
    cursor: pointer; /* Змінюємо курсор при наведенні */
}


/* Секція HERO */

.hero-flex {
    height: 858px;
    width: 1440px;
    background-image: url(../img/Backround\ 1.png);
}

.hero-list-item {
    margin-left: 189px;
}

.hero-img-two {
    margin-left: 33px;
}

.hero-information {
    margin-left: 152px;
}

.hero-information-text {
    margin-top: 12px;
}

.hero-button {
    margin-top: 42px;
    margin-left: 152px
}

.hero-button {
    height: 67px;
    width: 254px;
    background-color: #8E32C6;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-list-item img {
    display: block;
}

/* СЕКЦІЯ advantages */

.advantages {
    background-image: url(../img/Backround.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 1440px;
        height: 606px;
        margin: 0 auto;
}

.advantages-flex {
    display: flex;
    justify-content: center;
}

.advantages-list {
    display: flex;
    align-items: center;
    border: solid 5px #8E32C6;
    padding: 25px 50px 19px;
    margin-top: 105px;
    justify-content: space-between;
    width: 1110px;
    height: 396px;
}

.advantages-list-item:not(:last-child) {
border-right: solid #FFFFFF 1px;
padding-right: 70px;
}


/* СЕКЦІЯ reviews */

.reviews {
    height: 521px;
    width: 1440px;
    background-image: url(../img/Flower\ for\ backround\ 2.svg), url(../img/Backround\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    border: 2px solid #FFFFFF;
}

.reviews-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.reviews-list-item {
    border-radius: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 255px;
    height: 299px;
    padding:  14px 14px 0 13px;
    box-shadow: 0px 16px 0px -5px rgb(123, 84, 179), 0px 30px 0px -10px rgb(83, 57, 120) ;
    padding-bottom: 10px;
    background-image: linear-gradient(135.00deg, var(--turquse1-1)7.292% , var(--blue1-2)26.042% , var(--lavend1-3)62.5% , var(--pink1-4)100%);
}

.Elizabeth {
    background-image: linear-gradient(135.00deg, var(--neon-pink2-1)0% , var(--magenta2-2)26.042% , var(--lavend2-3-4)62.841% , var(--lavend2-3-4)100%);
    box-shadow: 0px 16px 0px -5px rgb(145, 89, 177), 0px 30px 0px -10px rgb(97, 51, 124);
}

.Maquare {
    background-image: linear-gradient(135.00deg, var(--yellow3-1)0% , var(--light-orange3-2)30.208% , var(--light-tomato3-3)63.286% , var(--raspberry3-4)100%);
    box-shadow: 0px 16px 0px -5px rgb(185, 90, 76), 0px 30px 0px -10px rgb(115, 47, 38);
}

.reviews-date {
    color: var(--gray-review);
    margin-top: 8px;
    margin-bottom: 47px;
}

.coment {
    padding-top: 35px;
}

.reviews-item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: px;
}

.reviews-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.signature {
    margin-right: 90px;
    margin-bottom: 29px;
}

.people-img {
    margin-bottom: 29px;
}




/* СЕКЦІЯ registration */

.registration-flex {
    width: 1440px;
    height: 509px;
}

.registration-flex {
    background-image: url(../img/Backround\ 3.png)
}



.email-input {
    width: 690px;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
}

.country-input {
    width: 580px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
}

.city-input {
    width: 580px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
}

.address-input {
    width: 580px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
}

.order-button {
    height: 68px;
    width: 248px;
    background-color: #8E32C6;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
        }


/* СЕКЦІЯ footer */

.footer-flex {
    height: 292px;
    width: 1440px;
    background-color: #021635;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}


.footer-list {
    flex: 1; /* Займає доступний вільний простір */
    margin-top: 45px;
    margin-left: 165px;
    width: 354px;
    height: 104px;
}

.footer-list-two {
    flex: 1; 
}

.footer-link {
    margin-bottom: 50px;
}

.footer-list-item-text {
    margin-bottom: 10px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-list-two {
    margin-top: 45px;
    margin-right: 165px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
}

.footer-list-two-item {
    margin-bottom: 10px;
}






