.container {
    width: 1110px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    
}

/* Секція HEADER */

.header {
    height: 90px;
}

.header-flex {
    width: 1440px;
    display: flex;
    justify-content: space-between; /* Всі елементи в ряду, рівномірно розподіляючи простір між ними */
    align-items: center; 
    background-color: #012D63;
}

.header-list {
    display: flex;
}

.header-lenguage {
    display: flex;
}

.header-list-item {
    margin-right: 29px;
}


/* Секція HERO */

.hero-flex {
    height: 858px;
    width: 1440px;
    background-image: url(../img/Backround\ 1.png);
}

.hero-img {
    margin-left: 152px;
}

.hero-information {
    margin-left: 152px;
}

.hero-button {
    margin-left: 152px
}


